body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightpink;
}
header {
    display: block;
    text-align: center;
    margin: 75px auto;
    background-color: azure;
}
.container {
    display: none;
    margin: 100px auto;
    width: 1000px;
    background-color: bisque;
    text-align: center;
}